<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.jxau.dao.RuleFilterDao">

    <resultMap id="ruleTreeNodeRelationMap" type="cn.edu.jxau.model.po.RuleTreeNodeRelation">
        <id column="id" property="id"/>
        <result column="tree_id" property="treeId"/>
        <result column="parent_id" property="parentId"/>
        <result column="child_id" property="childId"/>
        <result column="rule_type" property="ruleType"/>
        <result column="rule_value" property="ruleValue"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="queryRuleTreeNodeChildList" parameterType="java.lang.Long" resultMap="ruleTreeNodeRelationMap">
        SELECT *
        FROM rule_tree_node_relation
        WHERE parent_id = #{nodeId}
    </select>
</mapper>
